.container {
  box-sizing: border-box;
  max-width: 1110px;

  margin-left: auto;
  margin-right: auto;
}

/*

BOTAO SOBRE MIM

*/
.botao-primario {
  display: flex;
  flex-wrap: nowrap;
  gap: 21px;
  width: 200px;
  align-items: center;
  background: var(--cor-p2);

  font-family: "Public Sans Regular", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--cor-0);
  letter-spacing: 2px;
  cursor: pointer;
}
.botao-primario:hover {
  background: var(--cor-p1);
  color: var(--cor-0);
}
.botao-primario::before {
  content: url("../../assets/icons/down-arrows.svg");
  background: #1d3445;
  padding: 16px;
}

.botao-primario:hover::before {
  background: #56a292;
}

/*

BOTAO SECUNDARIO - modelo geral

*/

.botao-secundario {
  display: inline-block;
  padding: 17px 50px;
  background: var(--cor-0);
  border: 1px solid var(--cor-p3);

  font-family: "Public Sans Regular", sans-serif;
  color: var(--cor-p3);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.botao-secundario:hover {
  background: var(--cor-p3);
  color: var(--cor-0);
}
